layout {
  default_tab_template {
    children
    pane size=1 borderless=true {
      plugin location="zellij:compact-bar"
    }
  }

  tab name="KEYLY ⛱️" {
    pane split_direction="vertical" {
      pane split_direction="horizontal" {
        pane focus=true name="KEYLY APP 🐤" size="65%" cwd="~/Documents/workspaces/personal/keyly"
        pane name="KEYLY APP 🐥" size="35%" cwd="~/Documents/workspaces/personal/keyly"
      }
      pane split_direction="horizontal" {
        pane name="KEYLY DOCS 📖" size="65%" cwd="~/Documents/workspaces/personal/keyly-docs"
        pane name="KEYLY DOCS 📝" size="35%" cwd="~/Documents/workspaces/personal/keyly-docs"
      }
    }
  }
}
