layout {
  default_tab_template {
    children
    pane size=1 borderless=true {
      plugin location="zellij:compact-bar"
    }
  }

  tab name="LUMIN WEBOPT CMS 🦀" {
    pane split_direction="vertical" {
      pane split_direction="horizontal" {
        pane focus=true name="LUMIN STRAPI 📦" size="65%" cwd="~/Documents/workspaces/lumin/github/templates-strapi"
        pane name="LUMIN STRAPI 🔩" size="35%" cwd="~/Documents/workspaces/lumin/github/templates-strapi"
      }
      pane split_direction="horizontal" {
        pane name="LUMIN SCRIPTS CMS 📜" size="50%" cwd="~/Documents/workspaces/lumin/github/lumin-scripts-cms"
        pane name="MEILISEARCH LOCAL 🔍" size="50%" cwd="~/Documents/workspaces/lumin/misc/meilisearch-local"
      }
    }
  }
}
