layout {
  default_tab_template {
    children
    pane size=1 borderless=true {
      plugin location="zellij:compact-bar"
    }
  }

  tab name="LUMIN WEBOPT ⚡️" {
    pane split_direction="vertical" {
      pane split_direction="horizontal" {
        pane focus=true name="LUMIN STATIC ⚙️" size="65%" cwd="~/Documents/workspaces/lumin/bitbucket/lumin-static"
        pane name="LUMIN STATIC 🔗" size="35%" cwd="~/Documents/workspaces/lumin/bitbucket/lumin-static"
      }
      pane split_direction="horizontal" {
        pane name="LUMIN TEMPLATES 🎨" size="65%" cwd="~/Documents/workspaces/lumin/github/lumin-templates"
        pane name="LUMIN TEMPLATES 🖌️" size="35%" cwd="~/Documents/workspaces/lumin/github/lumin-templates"
      }
    }
  }
}
