layout {
  default_tab_template {
    children
    pane size=1 borderless=true {
      plugin location="zellij:compact-bar"
    }
  }

  tab name="LUMIN AG WEB 🌼" cwd="~/Documents/workspaces/lumin/bitbucket/lumin-agreement-gen-web" {
    pane split_direction="horizontal" {
      pane focus=true name="BOSS ⭐️" size="70%"
      pane name="MINION 🤖" size="30%"
    }
  }

  tab name="LUMIN AG BE 🌼" cwd="~/Documents/workspaces/lumin/bitbucket/lumin-agreement-gen-backend" {
    pane split_direction="horizontal" {
      pane focus=true name="BOSS ⭐️" size="70%"
      pane name="MINION 🤖" size="30%"
    }
  }

  tab name="LUMIN AG WORKER 🌼" cwd="~/Documents/workspaces/lumin/bitbucket/lumin-agreement-gen-worker" {
    pane split_direction="horizontal" {
      pane focus=true name="BOSS ⭐️" size="70%"
      pane name="MINION 🤖" size="30%"
    }
  }

  tab name="LUMIN AG LLM 🌼" cwd="~/Documents/workspaces/lumin/bitbucket/lumin-agreement-gen-llm" {
    pane split_direction="horizontal" {
      pane focus=true name="BOSS ⭐️" size="70%"
      pane name="MINION 🤖" size="30%"
    }
  }
}
