layout {
  default_tab_template {
    children
    pane size=1 borderless=true {
      plugin location="zellij:compact-bar"
    }
  }

  tab name="LUMIN AG 🌸" {
    pane split_direction="vertical" {
      pane split_direction="horizontal" {
        pane focus=true name="LUMIN AG WEB ⭐️" size="65%" cwd="~/Documents/workspaces/lumin/bitbucket/lumin-agreement-gen-web"
        pane name="LUMIN AG WEB 🤖" size="35%" cwd="~/Documents/workspaces/lumin/bitbucket/lumin-agreement-gen-web"
      }
      pane split_direction="horizontal" {
        pane focus=true name="LUMIN AG BE 🔥" size="65%" cwd="~/Documents/workspaces/lumin/bitbucket/lumin-agreement-gen-backend"
        pane name="LUMIN AG BE 🎯" size="35%" cwd="~/Documents/workspaces/lumin/bitbucket/lumin-agreement-gen-backend"
      }
      pane split_direction="horizontal" {
        pane focus=true name="LUMIN AG WORKER 💎" size="65%" cwd="~/Documents/workspaces/lumin/bitbucket/lumin-agreement-gen-worker"
        pane name="LUMIN AG WORKER 🎪" size="35%" cwd="~/Documents/workspaces/lumin/bitbucket/lumin-agreement-gen-worker"
      }
      pane split_direction="horizontal" {
        pane focus=true name="LUMIN AG LLM 🧠" size="65%" cwd="~/Documents/workspaces/lumin/bitbucket/lumin-agreement-gen-llm"
        pane name="LUMIN AG LLM 🔧" size="35%" cwd="~/Documents/workspaces/lumin/bitbucket/lumin-agreement-gen-llm"
      }
    }
  }
}
