layout {
  default_tab_template {
    children
    pane size=1 borderless=true {
      plugin location="zellij:compact-bar"
    }
  }

  tab name="LUMIN WEB-BE/AUTH 🦄" {
    pane split_direction="vertical" {
      pane split_direction="horizontal" {
        pane focus=true name="LUMIN WEB BACKEND 🌟" size="65%" cwd="~/Documents/workspaces/lumin/bitbucket/lumin-web-backend-2.0"
        pane name="LUMIN WEB BACKEND 🛠️" size="35%" cwd="~/Documents/workspaces/lumin/bitbucket/lumin-web-backend-2.0"
      }
      pane split_direction="horizontal" {
        pane name="LUMIN AUTH 🔐" size="65%" cwd="~/Documents/workspaces/lumin/bitbucket/lumin-auth"
        pane name="LUMIN AUTH 🔨" size="35%" cwd="~/Documents/workspaces/lumin/bitbucket/lumin-auth"
      }
    }
  }
}
