layout {
  default_tab_template {
    children
    pane size=1 borderless=true {
      plugin location="zellij:compact-bar"
    }
  }

  tab name="LUMIN E2E 🧪" cwd="~/Documents/workspaces/dsv/lumin/lumin-e2e" {
    pane split_direction="horizontal" {
      pane focus=true name="BOSS 💫" size="70%"
      pane name="MINION 🎱" size="30%"
    }
  }
}
